language: python
python:
- '3.6'
install:
- pip install ansible>=2.3.0 molecule apache-libcloud testinfra 'molecule[gce]'
script:
- molecule create
- molecule converge
- molecule verify
after_script:
- molecule destroy
before_install:
- openssl aes-256-cbc -K $encrypted_d308d923aabf_key -iv $encrypted_d308d923aabf_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv google_compute_engine /home/travis/.ssh/
- chmod 0600 /home/travis/.ssh/google_compute_engine
env:
  matrix:
  - GCE_CREDENTIALS_FILE="$(pwd)/credentials.json"
  global:
  - secure: VWa5366voqKSN4BK7dfraeMiS8jPNwkN/FBt61PbZK8uUG5XJOrbOsvuXz7PD0dWHZ1vRYUY4L3HkXPtnmusMardE/Kz3sZxcDCtp8qRtre9N0IHvE4IVzRZ4GNY84DrKXsfs2f92qazZVaWYxipbp72MuznkhTYHGTsGhEb9i4s7w9xw0MJ0H915xYlwwMeYb1WjAX5XSZ2vOWGX0Qjs6yteP98TCxqzU9rjbjFmwsFZLr60vCTuansZdHcCm5NNZ91MCsXI05t9xBkUJN6nOIJZa4E4stqkW2OYB76HW5nTKtuZVPLP0ou3UGIblscx5vAhgXLLkwgKhN6ociQWX7glf2UZ4sf6j/a+BdY6iC2B1rcbLKOgnb1WNvUzV+tIED85XJpmi/NHkmaTPshLq/P/+h1I9J1/wZ49c/pkp/EFqpnM/iOT3/KDlQhlNg2tM6z8JOJOomaMTliuB/UNrI9/JBKmySvjM6W2pWP6nvqh5GXdPN1CwjeE1/Koe80InW8O97AuyKtlCcwsKvU46hWYwmth2QuGd9dfeLocIbVjfKim/BqK97Z9Rl/NWEGAij4O2xPmv6L8sw1fw1fsTyCEvKplIu1hpM8QpjIhKZqbhIB72aWkV3hnpQNG0nlBbkiUxdb7oaye8owJ1jVSDI1zWybEuHIA327iW58lxU=
  - secure: eYkiqfg5t3qNEhp/qBxt5gaImmBlboFwkSg3XYVpXPUrTD08iP0kOAmOf940gRukpVwmfuScR/d6ig5f+gBpDLetEWCr/46J6JsWy5MCyLF+BIYEy7TAGiJvlYt2urZD9pt17fwTLljLHMyrCCvkgVjFo4pB1cdg/yxKQIi+kVYIAcq3DuasMq2W4RNqLWjHkX2mKBp8mjwiLC5JCjBHxy/uhxgFy9Gvy5F3TuMBOhN0zi7hBvnW1FmfeYsY60oBGAy9AR+BFwORYHNA3BTdh5THgMSLK81DUexv5j3UV3BLeh2fvegc9s+z4P+IgOyG68hScz9ncxUeiEVbpBekOEUWARHHAPY77SKvY+iOWyTU+Bb/c+j+Foq+2CkRvjeNLFr30wS+1Hu50zlYuP1fqAqEyzgs3FLgL9ifY+IluDywbDY+lqT1FUODrT68wc2wR3qmY0owfHhWz2SQD+ZfOYR2tIbwAibWqEQu0Fzl0LP8tlQr8jkrTadEOmgCJkFsrhiGOTYHuWuc9Or2Kw8ZyjiEDveNvEg2zWbBn7CldTek/MvhzrDGOEWK2cO8Hn1uVHQMWqOtLgOCvsv6EbXk+TRn2uqCUbUA40w/nMT20PlyMXiN5ex1Cv1ZRVjwEe/uq3ofcE9cUL2ofq2Sc0oqyDJZntQTX/cEy6WftjiJGzk=
  - secure: o/FDA+qS5Mm1vs66g+QQ7269I55umU5vANwzGLJ0QAOGyirnZh28mh9DEV+9nwYSib0qVA/ATgA7+nIuZZwPS1dNtSLgKXFSSyPgjHXsrQDWE+Cf9BZKgngw4RXA3qQzSbn7a9ugMd9b6rJYjx/i11dMpzhVEHoRvjPF2LUiXmwIR9gUv6Z6I5cQnVivIO9XxHn6tLe4VnVc9oU2zdtjWy5+GiY62k0wya9bqPcBbUc7VO4BZEmKJ0qaqRlpjL8AjdvLnSgH1vcYy9GWO44AVeb1Nk/mZJBargBc1bHBhwLpWsA0BlYB2vGJBvrWYCS2RufFmhPR0CaFpfqZvAOE67KBqhZTONivfWUp1dmD4mEWO8G58iTwWsEjZ+RYQHMet6aOn2xHVFh2Ml20M9Ihp6Ldvs9jtIPY8LciHbhz3FFRIDb/JvnHUf203WqJBQlNWxWw5UgTla9YxRLiphKh5qv44YhuuqXsd6rdg1mYwa2R3SqDSMI0PHoLv/NmC2+dHPMtMC9Uz5XoHxlgoHhgKHnAwgf7uXbb+p+skThrEifxXn6cTr6iTeH3c6WYtjkBwUiGpa1Jg5nOia1PwxztsMJ31U8QTi8hFXhAOh/2ZZ7vgAMir1bSM+9YDXf07Ey5wL1I/tP7+DB4EclG48GIV9cvuS1A6y3yv5HYDh+IXUw=
